Package: fun.ignition.shieldxi
Name: Shield XI
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Ignition
Author: Ignition
Section: Tweaks
